.link {
  display: inline-flex;
  align-items: baseline;
  color: #bfbfbf;
  vertical-align: middle;
}
.link:visited {
  color: #bfbfbf;
}
.link._hover-red:hover {
  cursor: pointer;
  color: red;
}
.link._hover-red:hover ._type-icon {
  background-color: red;
}
.link._hover-red:hover ._type-text {
  color: red;
}
.link._hover-opacity {
  cursor: pointer;
  opacity: 0.3;
}
.link._hover-opacity:hover {
  opacity: 0.5;
}
.link__content {
  display: flex;
  transition: all ease 0.3s;
}
.link__content._text-white {
  color: #bfbfbf;
}
.link__content._type-image {
  width: 100%;
}
.link__content._size-of-text {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
}
.link__content._type-icon {
  width: 0.9em;
  height: 0.9em;
  background-color: #bfbfbf;
}
.link__content._rounded {
  border-radius: 50%;
}
.link__content._geo {
  margin-right: 5px;
}
.link__content._bigger {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.6em;
}
.link__content._further {
  margin-right: 16px;
}
.link__content._first-red:first-letter {
  color: red;
}
.link__content._no-margin {
  margin: 0;
}
.link._footer {
  margin-right: 2%;
}
.link._geolink {
  padding-right: 14px;
}
.link._vertical {
  flex-direction: column;
  align-items: center;
}
.link._vertical ._type-image {
  margin-bottom: 5px;
}
.link._vertical:hover ._type-image {
  transform: translate(0, -15%);
}

.widget {
  display: flex;
  background-color: #222;
  padding: 5%;
  border-radius: 7%;
}

.mail-bar {
  position: absolute;
  right: 0;
  top: 0;
}