.link {
  vertical-align: middle;
  display: inline-flex;
  align-items: baseline;
  color: #bfbfbf;
}
.link:visited {
  color: #bfbfbf;
}
.link._hover-red:hover {
  cursor: pointer;
  color: red;
}
.link._hover-red:hover ._type-icon {
  background-color: red;
}
.link._hover-red:hover ._type-text {
  color: red;
}
.link._hover-opacity {
  cursor: pointer;
  opacity: 0.3;
}
.link._hover-opacity:hover {
  opacity: 0.5;
}
.link__content {
  display: inline-block;
  transition: all ease 0.2s;
}
.link__content._type-text._text-white {
  color: #bfbfbf;
}
.link__content._type-image {
  width: 100%;
}
.link__content._size-of-text {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
}
.link__content._type-icon {
  width: 0.9em;
  height: 0.9em;
  background-color: #bfbfbf;
}
.link__content._geo {
  margin-right: 5px;
}
.link._geolink {
  padding-right: 14px;
}