@import "../../common/common"

.category-list
  @include yandex-text-normal($news-list-font-size)
  font-size: $category-list-font-size

  &._smaller
    @include yandex-text-normal(.9em)

  &._search-nav
    @extend ._smaller
    justify-content: space-between


    & .category-list__item
      margin-right: 2%

  &._news
    @extend ._search-nav
    padding-top: .5em
    padding-bottom: .5em
    margin-bottom: .5em

    border-bottom: 1px solid #f0f1f3

    & .category-list__item
      margin-right: 1.2em

  &__item
    @include text-set-color($color-menu-inactive)
    margin-right: 0.4em

    font-size: $category-list-item-font-size

    line-height: 1.2em

    &._active
      @include text-set-color($color-menu)

    &._not-active-category
      margin-right: .2em

    &._warning
      @include yandex-text-normal($category-list-warning-font-size)
      @include text-set-color($color-warning)

      vertical-align: text-bottom

    &:last-child
      margin-right: 0

    &._weather
      @include yandex-text-normal($category-smaller-font-size)
      @include text-set-color($color-menu)
      vertical-align: text-bottom

    &._color-inherit
      @include text-set-color(inherit)