
.social
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-top: .6em

  &__people
    display: flex
    align-items: center
    color: #fff9

  &__counter
    display: block

    &-number
      font-weight: 600

  &__buttons
    fill: #bfbfbf