
.weather
  &__item
    @include yandex-text-normal($yandex-weather-font-size)
    @include text-set-color($yandex-color-base-text)
    align-items: center

    &._small
      @include yandex-text-normal($yandex-weather-small-font-size)
      @include text-set-color($yandex-color-info-text)
      position: relative
      vertical-align: bottom

      &::before
        display: block
        content: attr(data-daytime)
        position: absolute
        top: -100%
        @include yandex-text-normal($yandex-weather-small-font-size)
        text-align: center
