.road__header {
  font-size: 90%;
  margin-bottom: 8px;
}
.road__body {
  display: flex;
  align-items: center;
}
.road__image {
  flex-basis: 38px;
  margin-right: 10px;
}
.road__grade {
  font-size: 26px;
  margin-right: 10px;
}