.widget
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  background-color: #222
  padding: 7px 15px
  border-radius: 7px
  transition: all ease 0.3s
  margin-bottom: 7px

  &._hover-jump:hover
    transform: translate(-5%, 0)
