@import "../../common/common"

.news-list
  font-size: $news-list-font-size

  &__item
    @include text-main()
    display: flex
    align-items: baseline
    max-width: 95%
    margin-bottom: 0.55em