@import "../../common/common"
@import "../../common/common"


.zen-article
  display: block


  &__header
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
    margin-bottom: .6em

    .zen-article
      display: none

  &__publisher
    display: flex
    align-items: center
    font-size: 1.1em
    @include bold-text()

  &__buttons
    font-size: .9em
    fill: #bfbfbf

  &__preview
    flex: 0 0 47%
    max-height: 13em
    border-radius: 1.2em

    margin-right: 3%

  &__content
    display: flex

  &__headline
    color: #bfbfbf
    margin-bottom: .3em

  &__date
    color: #fff9
    font-size: .9em

  &__short-view
    @extend .zen-article__date

  &__social
    display: block
    font-size: .9em
