@import "../../common/common"

.zen-section
  padding-top: 1.3em

  &__wrapper
    display: flex
    width: 100%
    flex-direction: row

  &__main-part
    flex: 1 0 70%
    margin-right: .3em

  &__side-part
    flex: 0 0 30%

  &__elem
    padding: 1em 2.5%
    background-color: $zen-background-color
    transition: background-color 0.3s ease
    border-radius: 1.3em

    &._hover-lighter:hover
      background-color: $zen-hover-background-color
