.articles
  display: flex
  flex-direction: row

  max-width: 93.5em
  margin: 0 auto
  padding-top: 3.75em

  &__articles
    flex: 7.5 2 100%

    padding-right: 3em

    @media (max-width: 50em)
      flex-direction: column
      justify-content: stretch
      align-items: stretch

  &__articles-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap


  &__article
    max-width: 30%

    margin: 0 0 3em
    @media (max-width: 50em)
      max-width: 100%

  &__advertisement
    flex: 2 7.5 100%

    @media (max-width: 50em)
      display: none

  &__button
    @include set-font($triks-main-forn)
    @include set-font-size($tricks-articles-button-font-size)
    @include text-set-color($tricks-subscribe-form-button-color)
    display: block

    width: 100%

    margin-bottom: 1em

    background-color: $tricks-subscribe-form-button-background-color

    line-height: 3em

    text-align: center
    text-transform: uppercase
    font-weight: bold