.articles
  display: flex
  flex-direction: row

  max-width: 93.5em
  margin: 0 auto
  padding-top: 3.75em

  &__articles
    flex: 7.5 2 100%

    padding-right: 3em

    @media (max-width: $bp-medium-bigger)
      flex-direction: column
      justify-content: stretch
      align-items: stretch

      flex: 6 2 100%

    @media (max-width: $bp-small)
      justify-content: center
      padding-right: 0

  &__articles-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap

  &__article
    //max-width: 30%

    flex: 0 0 30%

    margin: 0 1em 3em

    @media (max-width: $bp-bigger)
      flex-basis: 48%
      margin: 0 0 3em

    @media (max-width: $bp-medium-bigger)
      flex-basis: 100%

    @media (max-width: $bp-small)
      flex-basis: 48%

    @media (max-width: $bp-smallest)
      flex: 100%

  &__advertisement
    flex: 2 7.5 100%

    @media (max-width: $bp-medium-bigger)
      flex: 2 6 100%

    @media (max-width: $bp-small)
      display: none


  &__button
    @include set-font($triks-main-forn)
    @include set-font-size($tricks-articles-button-font-size)
    @include text-set-color($tricks-subscribe-form-button-color)
    display: block

    width: 100%

    margin-bottom: 1em

    background-color: $tricks-subscribe-form-button-background-color

    border-radius: .2em
    box-shadow: $tricks-articles-button-shadow

    line-height: 3em

    text-align: center
    text-transform: uppercase
    font-weight: bold