.card
  padding: 1em

  border-radius: .75em
  background: linear-gradient(85deg, #434343, #262626)

  display: flex
  flex-direction: column

  &__meta
    padding-top: 1.5em

  &__meta-title
    @include set-font($triks-secondary-font)
    @include text-set-color(white)
    @include set-font-size(1em)

    letter-spacing: .05em
    font-weight: 500

  &__date
    @include set-font($triks-secondary-font)
    @include text-set-color(#777)

  &__title
    @include set-font($triks-main-forn)
    @include text-set-color(white)
    @include set-font-size(1.4em)

    display: block

    padding-top: .5em

    font-weight: 600
    line-height: 1em

  &__tags
    @include set-font-size(.75em)

    padding-top: 2em


  &__author
    margin-top: auto

  &__author-image
    @include set-font-size(2.5em)
    width: 1em
    height: 1em

    vertical-align: middle


  &__author-name
    @include set-font($triks-secondary-font)
    @include text-set-color(white)

    vertical-align: middle
    font-weight: 500