$cards-card-width: 17em

.cards
  display: flex
  flex-direction: row
  justify-content: space-between
  align-content: stretch

  max-width: 93.5em
  margin: 1em auto 0

  overflow: hidden

  position: relative

  @media (max-width: $bp-medium-bigger)
    overflow: scroll
    margin: 0
    max-width: 99999999999px

  &:after
    content: ' '
    position: absolute
    right: 0
    top: 1.65em
    bottom: 4.4em
    width: .4em

    border-radius: .3em
    background: $tricks-cards-after-color

    @media (max-width: $bp-medium-bigger)
      display: none

  &__left
    flex: 1 0 $cards-card-width

    padding-top: 1.75em

  &__title-card
    padding-top: 11.5em
    padding-bottom: 2em
    padding-left: 1.75em

    position: relative

    &:before
      content: ' '
      display: block
      position: absolute
      left: 0

      top: 0
      width: 100%
      height: 100%
      border-radius: .75em
      background-image: $tricks-title-card-before-color
      z-index: -1

    &:after
      content: ' '
      display: block
      position: absolute
      left: .5em
      top: .5em
      width: calc(100% - 1em)
      height: calc(100% - 1em)

      border-radius: .75em
      background-color: $tricks-cards-title-card-after-color

      z-index: -1

  &__title
    @include text-set-color($tricks-cards-title-color)
    @include set-font($triks-main-forn)
    @include set-font-size($tricks-cards-title-font-size)
    display: block

    line-height: 1.1em

    font-weight: 900

  &__sponsored
    @include text-set-color($tricks-cards-sponsored-color)
    @include set-font-size($tricks-cards-sponsored-font-size)
    @include set-font($triks-secondary-font)
    display: block

    padding-top: 2.3em

    line-height: 1em
    font-weight: 500

  &__author
    @include set-font($triks-secondary-font)
    @include text-set-color($tricks-cards-author-color)

    display: block
    padding-top: 1em

  &__list
    flex: 5 0 100%

    display: flex
    flex-wrap: nowrap

    padding-top: 1.75em
    padding-bottom: 3.5em
    padding-left: 1%

    overflow-x: scroll

    &::-webkit-scrollbar
      width: 1em

    &::-webkit-scrollbar-thumb
      border-radius: .5em
      background: $tricks-cards-scrollbar-thumb-color

    @media (max-width: $bp-medium-bigger)
      overflow: visible

  &__card
    flex: 0 0 $cards-card-width

    display: block

    margin-right: -9%

    box-shadow: -2em 0 3em -2em $tricks-cards-card-shadow-color

    transition: .2s

    &:first-child
      transform: none

    &:hover
      @extend :last-child
      margin-right: .75em

      transform: translate(0, -1em) rotate(3deg)
