.tags
  display: block

  &__tag
    @include text-set-color(#ff7a18)
    @include set-font($triks-main-forn)
    @include set-font-size(.85em)

    text-transform: uppercase
    font-weight: bold
    margin-right: .75em