
.link
  display: inline-flex
  align-items: baseline

  color: #bfbfbf

  vertical-align: middle

  &:visited
    color: #bfbfbf

  &._hover-red:hover
    cursor: pointer
    color: red

    ._type-icon
      background-color: red



  &._hover-opacity
    cursor: pointer
    opacity: 0.3

    &:hover
      opacity: 0.5


  &__content
    display: flex
    transition: all ease 0.3s

    &._text-white
      color: #bfbfbf

    &._type-image
      width: 100%

    &._size-of-text
      width: 1em
      height: 1em
      margin-right: 0.3em

    &._type-icon
      width: 0.9em
      height: 0.9em
      background-color: #bfbfbf

    &._rounded
      border-radius: 50%

    &._geo
      margin-right: 5px

    &._bigger
      width: 1.5em
      height: 1.5em
      margin-right: 0.6em

    &._further
      margin-right: 16px

    &._first-red:first-letter
      color: red

    &._no-margin
      margin: 0

  &._footer
    margin-right: 2%

  &._geolink
    padding-right: 14px

  &._vertical
    flex-direction: column
    align-items: center

    ._type-image
      margin-bottom: 5px

    &:hover ._type-image
      transform: translate(0, -15%)