@import "../../common/common"

.mail

  background-color: $color-page-elem-background

  &__item
    width: 100%
    align-items: center
    margin-bottom: .6em

    @include yandex-text-normal()

    &._mail-line
      justify-content: space-between

  &__messages-total
    margin-left: 3%


