@import "common/common"

@import "./animations/animations"

*
  box-sizing: border-box
  text-decoration: none
  vertical-align: center

html
  min-height: 100%

body
  @extend html

  position: relative

  &._yandex
    @include yandex-text-normal($yandex-base-font-size)

    min-width: $yandex-size-min-page-width

    background-color: $yandex-color-page-background

.svg-store
  visibility: hidden
  position: absolute
  left: 0
  top: 0
  z-index: -999999

@import "blocks/link/link"
@import "blocks/icon/icon"
@import "blocks/datetime/datetime"
@import "blocks/values-list/values-list"
@import "blocks/icon-bar/icon-bar"
@import "blocks/category-list/category-list"
@import "blocks/page-elem/page-elem"
@import "blocks/news-list/news-list"
@import "blocks/weather/weather"
@import "blocks/road/road"
@import "blocks/link-bar/link-bar"
@import "blocks/search-line/search-line"
@import "blocks/search/search"
@import "blocks/search-bar/search-bar"
@import "blocks/top-bar/top-bar"
@import "blocks/layout/layout"
@import "blocks/info-content/info-content"
@import "blocks/zen-section/zen-section"
@import "blocks/zen-article/zen-article"
@import "blocks/social/social"
@import "blocks/image-bar/image-bar"
@import "blocks/zen-categories/zen-categories"
@import "blocks/zen-category-list/zen-category-list"
@import "blocks/page-footer/page-footer"
@import "blocks/widget/widget"
@import "blocks/mail-bar/mail-bar"
@import "blocks/mail/mail"
@import "blocks/plus/plus"
