@import "../fonts/YS_text/stylesheet.css"
@import "block_link/link"
@import "block_icon/icon"
@import "block_datetime/datetime"
@import "block_values-list/values-list"
@import "block_icon-bar/icon-bar"
@import "block_category-list/category-list"
@import "block_news/news"
@import "block_weather/weather"
@import "block_road/road"
@import "block_link-bar/link-bar"
@import "block_search-line/search-line"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none

html
  min-height: 100%

body
  background-color: #0D0D0D
  font-family: "Yandex Sans Text", Arial, sans-serif
  min-height: 100%
  font-size: 93.75%
  min-width: 1000px

.content
  min-width: 1000px

.container
  margin-left: auto
  margin-right: 240px
  width: 941px

  &._auto-center
    margin: 0 auto


.top-bar
  margin-top: 5px
  margin-right: 200px
  padding: 0 6px 0 20px
  font-size: .94em
  line-height: 41px
  vertical-align: middle
  font-weight: bold

.row
  display: flex
  flex-direction: row
  justify-content: space-between

.info-content
  display: flex
  justify-content: center

  margin: 0 auto

  &__left
    flex: 1 0 66.6%

  &__right
    flex: 0 0 33.3%

