
.road

  &__body
    display: flex
    align-items: center

  &__image
    @include yandex-text-normal($yandex-road-image-font-size)
    margin-right: .5em

  &__grade
    @include yandex-text-normal($yandex-road-grade-font-size)
    margin-right: .3em
