.weather-item
  @include mail-main-font
  display: flex
  flex-direction: column

  &__top
    @include text-set-color($mail-color-text-secondary)
    @include set-font-size($mail-wheather-item-top-font-size)

    margin-bottom: .5em
    text-align: center
    font-weight: bold

    &._reverse
      margin-bottom: 0

    &._green
      @include text-set-color($mail-text-green)
      @include set-font-size($mail-wheather-item-top-green-font-size)

  &__bottom
    display: flex
    flex-direction: row
    align-items: center

    font-weight: bold

    &._reverse
      margin-bottom: .2em

  &__icon
    @include set-font-size($mail-wheather-item-icon-font-size)
    margin-right: .5em
    font-weight: bold

    &._money
      @include set-font-size($mail-wheather-item-icon-money-font-size)