
.category-list
  @include yandex-text-normal($yandex-news-list-font-size)
  font-size: $yandex-category-list-font-size

  &__item
    @include text-set-color($yandex-color-menu-inactive)
    margin-right: 0.4em

    font-size: $yandex-category-list-item-font-size

    line-height: 1.2em

    &._active
      @include text-set-color($yandex-color-menu)

    &._not-active-category
      margin-right: .2em

    &._warning
      @include yandex-text-normal($yandex-category-list-warning-font-size)
      @include text-set-color($yandex-color-warning)

      vertical-align: text-bottom

    &:last-child
      margin-right: 0

    &._weather
      @include yandex-text-normal($yandex-category-smaller-font-size)
      @include text-set-color($yandex-color-menu)
      vertical-align: text-bottom