.values-list__item {
  display: inline-block;
  margin-right: 10px;
}
.values-list__name {
  font-size: 0.94em;
  margin-right: 5px;
  font-weight: bolder;
  text-transform: uppercase;
}
.values-list__value {
  color: #bfbfbf;
  margin-right: 5px;
}
.values-list__diff {
  color: #999;
}