$yandex-color-page-background: #0D0D0D
$yandex-color-page-elem-background: #1D1E22
$yandex-color-page-elem-hover-background: #242529
$yandex-color-footer: #15161a

$yandex-color-base-text: #bfbfbf
$yandex-color-base-text-secondary-opacity: .65
$yandex-color-icon-opacity: .3

$yandex-color-info-text: #c3c3c3a6

$yandex-color-hover-main: red
$yandex-color-hover-additional-opacity: .5


$yandex-color-menu: #5a82b8
$yandex-color-menu-inactive: #5a82b899

$yandex-color-warning: #ee7b00

$yandex-yellow: #fc0

$yandex-color-social-border: black

$mail-color-blue: #005FF9

$mail-color-text-primary: #2C2D2E
$mail-color-text-secondary: #87898F

$color-break-line: #f0f1f3