@import "colors"
@import "font"

@mixin text-set-color($color)
  color: $color
  fill: $color

@mixin set-font-size($font-size: 1em)
  font-size: $font-size

@mixin set-font($font-family, $font-size: 1em)
  font-family: $font-family
  @include set-font-size($font-size)

@mixin yandex-text-normal($font-size: 1em)
  @include set-font($yandex-base-font-family, $font-size)
  font-weight: 400

@mixin yandex-text-main-bold($font-size: 1em)
  @include yandex-text-normal
  font-weight: 500

@mixin yandex-text-main-light($font-size: 1em)
  @include yandex-text-normal
  font-weight: 300

@mixin yandex-text-info()
  font-family: Arial, sans-serif

@mixin yandex-hover-main()
  &:hover
    color: $yandex-color-hover-main
    fill: $yandex-color-hover-main

@mixin yandex-hover-opacity()
  &:hover
    opacity: $yandex-color-hover-additional-opacity

@mixin yandex-custom-focus($type: 0)
  @if ($type == 0)
    &:focus
      outline: .2em solid $yandex-yellow

@mixin mail-main-font()
  font-family: Helvetica, Arial, sans-serif